@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-calendar {
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    font-family: Arial, sans-serif;
    background-color: white;
}

.custom-day {
    outline: none;
}

.custom-day:hover {
    background-color: #f3f4f6;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #10B981 !important;
    color: white !important;
}

.react-datepicker__day--today {
    font-weight: bold;
    color: #10B981;
}

.react-datepicker__header {
    background-color: white !important;
    border-bottom: 1px solid lightgrey !important;
}

.react-datepicker__day-name {
    color: #4B5563;
    font-weight: bold;
}

.react-datepicker {
    background-color: white;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


